<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Return Time</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
         <ngbd-datepicker-basic #datepicker ></ngbd-datepicker-basic>
        <ngbd-timepicker-spinners #timepicker></ngbd-timepicker-spinners>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="onSubmit(datepicker.model, timepicker.time)">Submit</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  
  
  
 
  <button class="btn btn-outline-primary mb-2 me-2" (click)="openVerticallyCentered(content)">Estimated Return Time</button>

